APP_NAME=KB Market Survey
APP_ENV=production
APP_TIMEZONE=Asia/Phnom_Penh

# Railway: set this to a reference variable:
# ${{Postgres.DATABASE_URL}}
DATABASE_URL=

KOBO_BASE_URL=https://kf.kobotoolbox.org
KOBO_TOKEN=42220e5f9d44af41ad520a32a6033e932ee74c35
KOBO_ASSET_UID=aoZdhyTuTH5UsHgKrJ9nym

TELEGRAM_BOT_TOKEN=8843761150:AAEvS21SWbc7tu_DIpzEuV8fw_EDqI5spqs
TELEGRAM_CHAT_ID=

TEMPLATE_PATH=templates/template_by_dealer.xlsx
EXPORT_DIR=exports

AUTO_SYNC_BEFORE_REPORT=false
AUTO_SYNC_ENABLED=true
AUTO_SYNC_INTERVAL_SECONDS=60
REPORT_SYNC_WAIT_SECONDS=240

# Docker/Linux path. The code also auto-detects LibreOffice.
LIBREOFFICE_PATH=/usr/bin/libreoffice

PNG_RENDER_SCALE=4.0
PNG_MAX_WIDTH=6000
